<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Talexan_UsersList::menu" title="Talexan" translate="title" module="Talexan_UsersList" sortOrder="30" 
               resource="Talexan_UsersList::main" />
        <add id="Talexan_UsersList::title_users" title="Users" translate="title" module="Talexan_UsersList" sortOrder="10"
             parent="Talexan_UsersList::menu" resource="Talexan_UsersList::main" />
        <add id="Talexan_UsersList::users_listing" title="List of Users" translate="title" module="Talexan_UsersList" sortOrder="30"
             parent="Talexan_UsersList::title_users" action="userslist/index" resource="Talexan_UsersList::listing" />
    </menu>
</config>
